* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #2d2d2d;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left side */
.left-box {
  flex: 1;
  position: relative;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  outline-color: azure;
  text-decoration: none;
  border-radius: 999px; /* 타원형 */
  font-weight: bold;
  font-size: 30px;
  transition: background 0.3s, color 0.3s;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.arrow.left :hover{
  background-color: white;
  color: black;
}

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}

/*이미지박스*/
.image-slider {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-slider {
  flex-grow: 1;
}

.arrow {
  font-size: 28px;
  color: white;
  cursor: pointer;
  padding: 8px;
  user-select: none;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.2);
}

.main-image {
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 16px;
  object-fit: contain;
  margin: 0 20px;
  flex-shrink: 0; /* 크기 줄어드는 것 방지 */
}

.button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 24px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* 오른쪽상자 */
.right-box {
  flex: 1;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand {
  align-self: flex-start;
  font-size: 24px;
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight:800;
  line-height: 1.4;
  margin-bottom: 30px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #cccccc;
}